<h2>Import <span class="dark">data</span></h2>
  
<blockquote>
<p>
  Paste transaction data from your bank website here.
</p>
</blockquote>

<form method='post'>
  <p>
    <label>Transaction history</label>
		<textarea name='account_history' style='width:100%;height:400px'></textarea><br>  
  </p>
	
	<p>
		<input type="submit" value="Import">
		<input type="reset" value="Clear">
	</p>
</form>